@import url("https://fonts.googleapis.com/css?family=Manrope:500,700&display=swap");

$dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);
$article-body-padding: 2em;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 13px;
  font-family: "Manrope", Arial, Helvetica, sans-serif;
  background: $light-grayish-blue;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  padding: 5em 0;
}

.article {
  width: 350px;
  max-width: 100%;
  border-radius: 10px;
  background: #fff;
  margin: 0 auto;
  
  &__image {
    max-width: 100%;
    border-radius: 10px;
    border-bottom-left-radius: initial;
    border-bottom-right-radius: initial;
  }

  &__body {
    padding: $article-body-padding;
    padding-bottom: calc(#{$article-body-padding} / 2);
  }

  &__heading {
    color: $dark-grayish-blue;
    font-size: 1.4em;
  }

  &__content {
    color: $desaturated-dark-blue;
    margin: 1.5em 0;
  }
}

.article__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $article-body-padding;
  position: relative;
  overflow: hidden;
}

.author {
  display: flex;
  align-items: center;

  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1em;
  }

  &__name {
    color: $dark-grayish-blue;
    font-size: 1.05em;
  }

  &__date {
    color: $grayish-blue;
  }
}

.share {
  &__social-icons {
    background: $dark-grayish-blue;
    padding: 2em;
    border-radius: 10px;
    border-top-left-radius: initial;
    border-top-right-radius: initial;
    display: grid;
    grid-template-columns: 2.5fr 1fr 1fr 1fr 2fr;
    align-items: center;
    
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .2s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);

    &--active {
      visibility: initial;
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__heading {
    color: $grayish-blue;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 400;
  }

  &__btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 10;

    &:hover,
    &--active {
      background: $desaturated-dark-blue;
      
      path{
        fill: white;
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media (min-width: 1440px) {
  $article-body-padding: 3em;

  .wrapper {
    width: initial;
    height: 95vh;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .article {
    display: flex;
    width: fit-content;
    height: fit-content;
    max-width: 900px;

    &__image {
      border-radius: 10px;
      min-width: 350px;
      border-top-right-radius: initial;
      border-bottom-right-radius: initial;
      object-fit: cover;
      object-position: left;
    }

    &__body {
      padding: $article-body-padding;
      padding-bottom: calc(#{$article-body-padding} / 2)
    }

    &__heading {
      font-size: 1.9em;
    }

    &__content {
      font-size: 1.2em;
    }
  }

  .article__footer {
    padding: $article-body-padding;
    padding-top: initial;
  }
}